@using EVS.Dotnet328.GarmentsShop.Models

@model SummaryModel

@using (Html.BeginForm("detail", "products", FormMethod.Post, new { id = "detailproductform" }))
{
    <div class="form-group">
        <img src="@Url.Content(Model.MainImageUrl)" />
        <img src="@Url.Content(Model.AlternateImageUrl)" />
    </div>

    <div class="form-group" style="text-align:center !important ">
        <button type="button" class="btn btn-info">Name : <span class="badge badge-light">@Model.Name</span></button>
        &nbsp;
        <button type="button" class="btn btn-info">Price :<span class="badge badge-light"> @Model.Price</span></button>
        &nbsp;
        <button type="button" class="btn btn-info">Add To Cart <span class=" badge badge-light"><span class="glyphicon glyphicon-shopping-cart"></span></span></button>
    </div>

    <div class="form-group modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-arrow-left"></span>Previous</button>
    </div>

}
